@use '../../_variables.scss' as *;
@use '../../_mixin.scss' as *;

.images {
    width: 90vw;
    margin: 0 auto;
    padding-top: 4vh;

    &__container {
        position: relative;
        columns: 2;
        column-gap: 10px;

        &__imgs {
            width: 100%;
            margin-bottom: 5px;
            border-radius: 12px;
            box-shadow: 0 0 4px $shadows;
            cursor: pointer;
        }
    }
}

@media (min-width: 500px) {
    .images {
        &__container {
            columns: 3;
        }
    }
}  

@media (min-width: 1200px) {
    .images {
        width: 95vw;
    
        &__container {
            columns: 4;
            column-gap: 20px;
    
            &__imgs {
                margin-bottom: 15px;
            }
        }
    }
}