.navMenu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  padding: 2rem;
}
.navMenu__logo {
  color: #fdfdfd;
}
.navMenu__logo.dashboard {
  color: #111;
}
.navMenu.dashboard {
  background: #fdfdfd;
  padding: 2rem 2rem 6rem 2rem;
  box-shadow: 0 0 15px rgba(17, 17, 17, 0.6509803922);
}

.search {
  padding-top: 25vh;
  padding-bottom: 15vh;
  background: url(/assets/images/headerBack.jfif) center center/cover no-repeat;
}
.search__title {
  color: #fdfdfd;
  text-align: center;
}
.search__bar {
  position: relative;
  margin: 8px auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 26px;
}
.search__bar__ico {
  position: absolute;
  left: 8px;
  z-index: 2;
}
.search__bar__label {
  position: absolute;
  left: 48px;
  z-index: 2;
  pointer-events: none;
  transition: all 0.3s;
}
.search__bar__input {
  position: absolute;
  width: 100%;
  padding: 8px 40px;
  border-radius: 24px;
}
.search__bar__input:focus ~ .search__bar__label, .search__bar__input:not(:placeholder-shown) ~ .search__bar__label {
  opacity: 0;
}
.search__bar.dashboard {
  position: absolute;
  top: 15vh;
  width: 85vw;
}
.search__tags {
  padding-top: 50px;
  width: 80vw;
  margin: 0 auto;
}
.search__tags__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.search__tags__list__item {
  background: #fdfdfd;
  padding: 0 16px;
  box-shadow: 0 0 15 rgba(17, 17, 17, 0.6509803922);
  cursor: pointer;
  border-radius: 24px;
}

@media (min-width: 500px) {
  .search {
    padding-top: 20vh;
    padding-bottom: 15vh;
  }
}
@media (min-width: 1200px) {
  .search__bar {
    width: 40vw;
  }
}
.modal__back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background: rgba(17, 17, 17, 0.6509803922);
  display: none;
}
.modal__back.active {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  background: url(/assets/images/photo2.webp) center center/cover no-repeat;
  z-index: 5;
  border-radius: 12px;
  padding: 1rem;
  overflow: hidden;
}
.modal.active {
  display: block;
}
.modal__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.modal__top__tag {
  background: #fdfdfd;
  padding: 0 16px;
  box-shadow: 0 0 15 rgba(17, 17, 17, 0.6509803922);
  cursor: pointer;
  border-radius: 24px;
}
.modal__top__close {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #111;
}
.modal__bottom {
  position: absolute;
  bottom: -150px;
  left: 0;
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  transition: all 1s;
}
.modal__bottom.allow {
  bottom: 0;
  background: rgba(17, 17, 17, 0.6509803922);
}
.modal__bottom__arrow {
  width: 60px;
  filter: invert(1);
  margin: 0 auto;
  transition: all 1s;
}
.modal__bottom__arrow.allow {
  transform: rotate(180deg);
}
.modal__bottom__description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #fdfdfd;
  margin-bottom: 1rem;
  text-align: center;
}
.modal__bottom__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px auto;
  gap: 12px;
}
.modal__bottom__actions img {
  width: 36px;
  margin-left: 4px;
  filter: invert(1);
}

.images {
  width: 90vw;
  margin: 0 auto;
  padding-top: 4vh;
}
.images__container {
  position: relative;
  columns: 2;
  column-gap: 10px;
}
.images__container__imgs {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(17, 17, 17, 0.6509803922);
}

@media (min-width: 500px) {
  .images__container {
    columns: 3;
  }
}
@media (min-width: 1200px) {
  .images {
    width: 95vw;
  }
  .images__container {
    columns: 4;
    column-gap: 20px;
  }
  .images__container__imgs {
    margin-bottom: 15px;
  }
}
.dashboardList {
  width: 90vw;
  margin: 0 auto;
  padding-top: 200px;
}
.dashboardList__actions {
  margin-bottom: 3vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
.dashboardList__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.dashboardList__item__image {
  position: relative;
}
.dashboardList__item__image__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 12px 0 24px 0;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(17, 17, 17, 0.6509803922);
}
.dashboardList__item__image__overlay {
  position: absolute;
  bottom: 40px;
  right: 20px;
  background: rgba(17, 17, 17, 0.6509803922);
  padding: 8px;
  border-radius: 50%;
}
.dashboardList__item__image__overlay__ico {
  width: 32px;
  filter: invert(1);
}
.dashboardList__item__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.dashboardList__item__info__description {
  width: 100%;
}
.dashboardList__item__info__description__title {
  text-transform: capitalize;
}
.dashboardList__item__info__description__desc {
  font-weight: 500;
}
.dashboardList__item__info__metadatas {
  margin-top: 20px;
  width: 28%;
  margin-right: 12px;
}
.dashboardList__item__info__metadatas__title {
  text-transform: capitalize;
}
.dashboardList__item__info__metadatas__description {
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  overflow-x: hidden;
}

h1 {
  font-family: "Irish Grover", system-ui;
  font-size: 32px;
  font-weight: 600;
  line-height: 1rem;
  color: #111;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.8rem;
  color: #111;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.8rem;
  color: #111;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8rem;
  color: #111;
}

label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8rem;
  color: #111;
}

a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8rem;
  color: #111;
  text-decoration: none;
}

li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #111;
  list-style: none;
}

input:focus {
  outline: none;
}

button {
  padding: 4px 20px;
  border-radius: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5rem;
  color: #111;
  background: #fdfdfd;
  box-shadow: 0 0 15px rgba(17, 17, 17, 0.6509803922);
  border: 1px solid #111;
}

/*# sourceMappingURL=style.css.map */
